[submodule "barber-frontend"]
	path = barber-frontend
	url = git@github.com:MAnthrazit/barber-frontend.git
[submodule "barber-backend"]
	path = barber-backend
	url = git@github.com:MAnthrazit/barber-backend.git
